* {
  box-sizing: border-box;
  margin: 0px;
}

$white-color: white;
$font-base: 16px;

%width100 {
  width: 100%;
}

%flex-boxset {
  display: flex;
  justify-content: space-between;
}

// navibar 검색창, 알람, 이메일 부분

.navibar {
  @extend %width100, %flex-boxset;
  height: 50px;
  background-color: $white-color;
  box-shadow: 1px 1px 5px gray;
  .navibar-search {
    margin-left: 10px;
  }
}

.navibar-info {
  @extend %flex-boxset;
  width: 30%;
  max-width: 200px;
  padding: 10px;
  margin-right: 10px;
}

.navibar-info .color {
  color: #9d9d9d;
}

// header Dashboard,메뉴 부분
.header {
  padding: 15px;
  h3 {
    margin: 20px 0px 30px 0px;
  }
}

.card-form {
  height: 100px;
  background: $white-color;
  padding: 10px;
  margin: 10px;
  font-size: $font-base - 3px;
  box-shadow: 1px 1px 5px gray;
  border-radius: 5px;
}
